.list
  li
    margin-bottom: 15px

    a
      font-weight: bold
      font-size: 21px
      color: #fff
      opacity: .7

      transition: opacity .3s ease-out

      &:hover, &.active
        opacity: 1
