.select
  margin-bottom: 20px
  display: flex
  flex-direction: column

  label
    margin-bottom: 10px
    color: #000
    font-weight: bold

  select
    padding: 7px
    border-radius: 5px
    margin-bottom: 7px
