.drawer
  position: fixed
  top: 0
  left: 0
  bottom: 0
  padding: 25px
  width: 100%
  max-width: 300px
  z-index: 90

  background: #fff
  transform: translateX(0)
  transition: transform .3s ease-in

  &.close
    transform: translateX(-300px)

  ul
    li
      margin-bottom: 15px

      a
        color: #000
        font-size: 25px
        opacity: 1
        font-weight: bold
        transition: opacity .3s ease-in-out

        &:hover
          opacity: .7
