.form
  padding: 35px 20px
  width: 100%

  display: flex
  flex-direction: column
  justify-content: center

  background: #eee
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .5)
  border-radius: 25px

  & .btns
    width: 100%
    padding-top: 30px

    display: flex
    justify-content: center
