.box
  margin-top: 20px
  padding: 20px
  display: flex
  flex-direction: column
  width: 100%
  max-width: 550px

  border: 2px solid #ffffff
  border-radius: 5px
  color: #fff

  //ul
    margin-left: 20px

.validText
  margin: 10px 0

.success
  color: rgba(161, 240, 69, .7)
  margin-left: 5px

.error
  color: rgba(240, 87, 108, .7)
  margin-left: 5px

.btn
  padding: 10px 15px
  font-size: 17px
  font-weight: bold
  text-align: center
  color: #ffffff
  border: 1px solid #fff
  border-radius: 10px
  background: transparent

  transition: border, background .3s ease-in-out

  &:hover
    background: rgba(255, 255, 255, .3)
    border-color: transparent

.btns
  display: flex
  justify-content: center
