.btn
  display: inline-block
  padding: 10px 15px
  margin-right: 15px
  width: 150px

  text-transform: uppercase
  border-radius: 4px

  color: #fff
  font-size: 12px
  text-align: center
  font-weight: bold

  opacity: 1
  box-shadow: none
  transition: box-shadow .3s ease-in-out, opacity .3s ease-in-out

  &:hover
    box-shadow: 2px 2px 0 rgba(0, 0, 0, .3)

  &[disabled]
    background: #ccc
    color: #000
    opacity: .4
    cursor: not-allowed

    &:hover
      box-shadow: none

  &:active
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0, .4)
    opacity: .7

  &.success
    background: rgba(161, 240, 69, 1)

  &.error
    background: rgba(240, 87, 108, 1)

  &.primary
    background: rgb(80, 171, 240)
    color: #000
