.wrapper
  padding: 30px 25px
  position: absolute
  bottom: -15vh
  left: 50%

  display: flex
  justify-content: center

  background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(0,119,6,1) 0%, rgba(0,205,68,1) 77%, rgba(104,255,96,1) 100%)
  border-radius: 7px
  transform: translateX(-50%)
  box-shadow: 7px 5px 1px rgba(0, 0, 0, .4)

  opacity: 0

  &.active
    animation: alert-open alternate 7s ease-out

  .content
    color: #ffffff
    font-size: 18px

    b
      font-size: 19px

  &.error
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(156,0,0,1) 0%, rgba(219,24,24,1) 54%, rgba(255,100,100,1) 100%)

  &.warning
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(112,130,0,1) 0%, rgba(219,255,0,1) 79%, rgba(219,255,26,1) 100%)

@keyframes alert-open
  from
    opacity: 0
    bottom: -15vh

  50%
    opacity: 1
    bottom: 5vh

  85%
    opacity: .8
    bottom: 5vh

  to
    opacity: 0
    bottom: -15vh
