.item
  padding: 10px 15px
  border: 1px solid #fff
  border-radius: 10px
  transition: background .3s ease

  &:hover
    background: rgba(255, 255, 255, .2)
    cursor: pointer

  &:not(:last-child)
    margin-bottom: 10px

  &.success
    background: rgba(161, 240, 69, .7)

  &.error
    background: rgba(240, 87, 108, .7)
