.input
  margin-bottom: 20px
  display: flex
  flex-direction: column

  label
    margin-bottom: 10px
    color: #000
    font-weight: bold

  input
    padding: 7px
    border-radius: 5px
    margin-bottom: 7px

  &.invalid
    label
      color: red

.error
  color: red
  font-size: 12px
  font-weight: bold
  padding-top: 5px
