.box
  padding: 20px
  display: flex
  flex-direction: column
  width: 100%
  max-width: 550px

  border: 2px solid #ffffff
  border-radius: 5px
  color: #fff

.head
  display: flex
  justify-content: space-between

.question
  margin-left: 15px
