.wrap {
    position: relative;
    display: flex;
    height: 100vh;
    flex-grow: 1;
    flex-direction: column;

    overflow: hidden;
}

.wrap main {
    display: flex;

    flex-grow: 1;
    flex-direction: column;
}
