.content
  padding-top: 100px
  display: flex
  justify-content: center
  flex: 1

  background: linear-gradient(270deg, #cef2fa 0%, #59bfef 100%)

.wrapper
  display: flex
  width: 100%
  max-width: 60vw

  flex-direction: column

  h1
    color: #fff
    margin-bottom: 100px
    align-self: start
    font-size: 30px
