.btn
  position: fixed
  left: 50px
  top: 50px

  cursor: pointer
  font-size: 20px
  color: #fff
  opacity: 1
  transition: opacity, left .3s ease-in
  z-index: 95

  &:hover
    opacity: .7

  &.open
    left: 20%
